:80 {
    root * /app/dist/client
    file_server

    @api path /api/*
    reverse_proxy @api https://peaceful-youthfulness-production-b2ea.up.railway.app

    try_files {path} /index.html

    log {
        output stdout
        level DEBUG
    }
}
