:80 {
    root * /app/dist/client/browser
    file_server

    # Proxy các API
    @api path /api/*
    reverse_proxy @api {
        to https://peaceful-youthfulness-production-b2ea.up.railway.app
        transport http {
            tls
        }
    }

    # Angular SPA fallback
    try_files {path} /index.html

    log {
        output stdout
        level DEBUG
    }
}
